<ion-content [fullscreen]="true">
  <ion-header collapse="">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>
  
  <div class="login-container">  
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input type="text" formControlName="nome" name="nome" placeholder="Preencha seu Nome" label="Nome" required />
        <ion-text color="danger" *ngIf="registrationForm.get('nome')?.touched && registrationForm.get('nome')?.invalid">
          Preencha com um nome valido
        </ion-text>
      </div>
      <div class="form-group">
        <input type="text" formControlName="email" name="email" placeholder="E-mail" label="Email" required />
        <ion-text color="danger" *ngIf="registrationForm.get('email')?.touched && registrationForm.get('email')?.invalid">
          Preencha com um e-mail valido
        </ion-text>
      </div>
      <div class="form-group">
        <input type="text" formControlName="login" name="login" placeholder="Nome de login" label="Login" required />
      <ion-text color="danger" *ngIf="registrationForm.get('login')?.touched && registrationForm.get('login')?.invalid">
        Preencha com um usuario valido
      </ion-text>
      </div>  
      <div class="form-group">
        <input type="password" formControlName="senha" name="senha" placeholder="Senha" label="Senha" (ngModelChange)="verificarSenhas()" required/>
        <ion-text color="danger" *ngIf="registrationForm.get('senha')?.touched && registrationForm.get('senha')?.invalid">
          Preencha com uma senha valida
        </ion-text>
      </div>
      <div class="form-group">
        <input type="password" formControlName="senha2" name="senha" placeholder="Confirme sua senha" label="Confirme sua Senha" (ngModelChange)="verificarSenhas()" required />
        <ion-text color="danger" *ngIf="(registrationForm.get('senha2')?.touched && registrationForm.get('senha2')?.invalid) || (registrationForm.get('senha')?.value !== registrationForm.get('senha2')?.value)">
          As senhas não combinam
        </ion-text>
      </div>
  
      <ion-button type="submit" class="btn" expand="block" [disabled]="registrationForm.invalid || !senhasIguais">Cadastrar</ion-button>
  
      <div class="social-login">
        <ion-button type="button" class="btn" (click)="Login()">Já possui Login?</ion-button>
      </div>
    </form>
  </div>
</ion-content>
