<ion-app>
<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div class="teste" id="container">
    <ion-item-divider>
      <div class="content-container">
        <div class="top-bar">
          <!-- Logo -->
          <div class="img">
            <img src="assets/Image/Logo.png" alt="Logo" />
          </div>

          <!-- Nome de usuário e status -->
          <ion-title>
            <div class="user-info">
              <span class="user-name"> {{ usuario }} </span>
              <ion-badge color="success" class="status-badge">
                Lista disponível
              </ion-badge>
            </div>
          </ion-title>

          <!-- Avatar do usuário -->
          <ion-avatar class="profile-avatar">
            <img src="assets/icon/favicon.png" alt="Usuário" />
          </ion-avatar>
        </div>

        <!-- Botões na parte inferior -->
        <div class="botoes">
          <ion-button id="btn" (click)="AdicionarProduto()">Adicionar Produtos</ion-button>
        </div>
      </div>
    </ion-item-divider>
  </div>

  <div class="scrollable-list">
    <ion-list>
      <label>Lista de estoques</label>
      <ion-item *ngFor="let estoque of estoques;">
        <ion-label>
          <h2>{{ estoque.est_desc }} {{ estoque.usu_nome }} </h2>
        </ion-label>
        <ion-button fill="solid" color="warning" (click)="utilizarEstoque(estoque.est_id,estoque.est_desc)">
          Usar
        </ion-button>
        <ion-button fill="clear" color="primary" (click)="editItem(estoque.est_id)">
          <ion-icon slot="icon-only" name="create-outline"></ion-icon>
        </ion-button>
        <ion-button fill="clear" color="danger" (click)="presentAlertConfirm(estoque.est_id)">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </div>

</ion-content>
</ion-app>