<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>


  <div class="teste" id="container">
    <ion-item-divider>
      <div class="content-container">
        <div class="top-bar">
          <div class="img">
            <img src="assets/Image/Logo.png" alt="Logo" />
          </div>

          <ion-title>
            <div class="user-info">
              <span class="user-name"> {{ usuario }} </span>
              <ion-badge color="success" class="status-badge">
                Lista disponível
              </ion-badge>
            </div>
          </ion-title>

          <ion-avatar class="profile-avatar">
            <img src="assets/icon/favicon.png" alt="Usuário" />
          </ion-avatar>
        </div>

        <div class="botoes">
          <ion-button id="btn" (click)="AdicionarProduto()">Adicionar Produtos</ion-button>
        </div>
      </div>
    </ion-item-divider>
  </div>


  <div class="login-container">  
    <form [formGroup]="EditarProductForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input type="text" formControlName="produto" name="produto" placeholder="Nome do Produto*" label="produto" />
      </div>
      <div class="form-group">
        <input type="text" formControlName="quantidade" name="quantidade" placeholder="Quantidade Atual*" label="quantidade" />
      </div>
      <div class="form-group">
        <input type="text" formControlName="minimo" name="minimo" placeholder="Quantidade minima" label="minimo"/>
      </div>  
      <div class="form-group">
        <input type="text" formControlName="maximo" name="maximo" placeholder="Quantidade Maxima" label="maximo"/>
      </div>  
      <ion-button type="submit" class="btn" expand="block" [disabled]="EditarProductForm.invalid">Salvar</ion-button>
  
    </form>
  </div>
</ion-content>
