<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"> 
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>


  <div class="teste" id="container">
    <ion-item-divider>
      <div class="content-container">
        <div class="top-bar">
          <!-- Logo -->
          <div class="img">
            <img src="assets/Image/Logo.png" alt="Logo" />
          </div>

          <!-- Nome de usuário e status -->
          <ion-title>
            <div class="user-info">
              <span class="user-name"> {{ user }} </span>
              <ion-badge color="success" class="status-badge">
                Lista disponível
              </ion-badge>
            </div>
          </ion-title>

          <!-- Avatar do usuário -->
          <ion-avatar class="profile-avatar">
            <img src="assets/icon/favicon.png" alt="Usuário" />
          </ion-avatar>
        </div>

        <!-- Botões na parte inferior -->
        <div class="botoes">
          <ion-button id="btn" (click)="AdicionarProduto()">Adicionar Produtos</ion-button>
        </div>
      </div>
    </ion-item-divider>
  </div>


  <div class="divzona">
  <div class="login-container">  
    <form [formGroup]="EditarEstoqueForm" (ngSubmit)="onSubmit()">
      <ion-label class="label">Descrição</ion-label>
      <div class="form-group">
        <input type="text" formControlName="descricao" name="descricao" placeholder="Preencha a descricao do estoque" label="descricao" required />
        <ion-text color="danger" *ngIf="EditarEstoqueForm.get('descricao')?.touched && EditarEstoqueForm.get('descricao')?.invalid">
          Preencha com uma descricao valida
        </ion-text>
      </div>

      <ion-button type="submit" class="btn" expand="block" [disabled]="EditarEstoqueForm.invalid">Salvar Alteração</ion-button>
    </form>
    <div class="scrollable-list">
      <ion-list>
        <label>Usuarios com acesso</label>
        <ion-item *ngFor="let usuario of usuarios;">
          <ion-label>
            <h2>{{ usuario.usu_nome }} -- {{usuario.est_desc}} -- {{ usuario.fil_inserted_at }} </h2>
          </ion-label>
          <ion-button fill="clear" color="danger" (click)="presentAlertConfirm(usuario.fil_id)">
            <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-button fill="clear" (click)="AdicionarNovoAcesso()">
          Adicionar Novo
        </ion-button>
      </ion-list>
    </div>
  </div>
</div>
</ion-content>
