 <ion-content [fullscreen]="true">
  <div class="login-container">  
    <form [formGroup]="loginForms" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input type="text" formControlName="login" name="login" placeholder="Nome de login" label="Login" required />
      <ion-text color="danger" *ngIf="loginForms.get('login')?.touched && loginForms.get('login')?.invalid">
        Preencha com um usuario valido
      </ion-text>
      </div>  
      <div class="form-group">
        <input type="password" formControlName="senha" name="senha" placeholder="Senha" label="Senha" required/>
        <ion-text color="danger" *ngIf="loginForms.get('senha')?.touched && loginForms.get('senha')?.invalid">
          Preencha com uma senha valida
        </ion-text>
      </div>
      <br>
      <ion-button block color="primary" class="btn" type="submit" [disabled]="loginForms.invalid">
        Login
      </ion-button>

      <div class="social-login">
        <ion-button type="button" class="btn" (click)="forgotPassword()">Esqueci a minha senha</ion-button>
      </div>
    </form>
  </div>
</ion-content>
