<ion-app>
  <ion-menu contentId="main-content">
    <ion-header [translucent]="true">
      <ion-toolbar>
        <ion-title>ProjetoEstoque</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-item button="" (click)="GoHome()">
          <ion-label>
            <ion-icon slot="start" name="home-outline"></ion-icon>
            Inicio</ion-label>
        </ion-item>

        <ion-item button (click)="alterarSubMenu()" >
          <ion-label>
            <ion-icon slot="start" name="settings-outline"></ion-icon>
            Estoque
          </ion-label>
          <ion-icon slot="end" [name]="subMenuOpen ? 'chevron-up-outline' : 'chevron-down-outline'"></ion-icon>
        </ion-item>
        
        <ion-list *ngIf="subMenuOpen" class="sub-menu">
          <ion-item button (click)="ListarEstoques()">
            <ion-label>
              <ion-icon slot="start" name="document-outline"></ion-icon>
              Listar Estoques
            </ion-label>
          </ion-item>

          <ion-item button (click)="CriarEstoque()">
            <ion-label>
              <ion-icon slot="start" name="document-outline"></ion-icon>
              Criar estoque
            </ion-label>
          </ion-item>

          <ion-item button (click)="CriarProduto()">
            <ion-label>
              <ion-icon slot="start" name="document-outline"></ion-icon>
              Adicionar produtos
            </ion-label>
          </ion-item>

          <ion-item button (click)="ListarProdutos()">
            <ion-label>
              <ion-icon slot="start" name="document-outline"></ion-icon>
              Ver produtos do estoque
            </ion-label>
          </ion-item>

        </ion-list>


        <ion-item button (click)="EditUsuario()">
          <ion-label>
            <ion-icon slot="start" name="settings-outline"></ion-icon>
            Usuário</ion-label>
        </ion-item>

        <ion-item button (click)="Logout()">
          <ion-label>
            <ion-icon slot="start" name="settings-outline"></ion-icon>
            Sair</ion-label>
        </ion-item>


      </ion-list>
    </ion-content>
  </ion-menu>


 
  <ion-router-outlet id ="main-content"></ion-router-outlet>
</ion-app>
