<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>cadastro Estoque</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <div class="backgroud" id="backgroud">
    <div class="cadastro" id="cadastro">
      <!-- <form [formGroup]="CadastroEstoqueForm" (ngSubmit)="onSubmit()">
        <ion-item>
          <ion-label position="floating">Descrição do estoque <ion-text color="danger">*</ion-text></ion-label>
          <ion-input label="descricao" labelPlacement="floating" placeholder="Insira o nome do estoque" formControlName="descricao"></ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="CadastroEstoqueForm.get('descricao')?.touched && CadastroEstoqueForm.get('descricao')?.invalid">
          O nome é obrigatório.
        </ion-text>
        <ion-button block color="primary" type="submit" [disabled]="CadastroEstoqueForm.invalid">
          Cadsatrar Estoque
        </ion-button>
      </form> -->
    </div>
 </div>
</ion-content>
