<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>TelaInicial</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="teste">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">TelaInicial</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="teste" id="container">
    <ion-item-divider>
      <div class="content-container">
        <div class="top-bar">
          <!-- Logo -->
          <div class="img">
            <img src="assets/Image/Logo.png" alt="Logo" />
          </div>

          <!-- Nome de usuário e status -->
          <ion-title>
            <div class="user-info">
              <span class="user-name">Usuário</span>
              <ion-badge color="success" class="status-badge">
                Lista disponível
              </ion-badge>
            </div>
          </ion-title>

          <!-- Avatar do usuário -->
          <ion-avatar class="profile-avatar">
            <img src="assets/icon/favicon.png" alt="Usuário" />
          </ion-avatar>
        </div>

        <!-- Botões na parte inferior -->
        <div class="botoes">
          <ion-button fill="outline" size="default"> + </ion-button>
          <p>Compras de Maio</p>
          <ion-button id="btn">Adicionar Produtos</ion-button>
        </div>
      </div>
    </ion-item-divider>
  </div>
  <br><br><br><br>
  
<ion-content>
  <div class="scrollable-list">
    <ion-list>
      <ion-item *ngFor="let item of items; let i = index">
        <ion-label>
          <h2>{{ i + 1 }}. {{ item.name }} - {{ item.weight }}</h2>
        </ion-label>
        <ion-button fill="clear" color="primary" (click)="editItem(i)">
          <ion-icon slot="icon-only" name="create-outline"></ion-icon>
        </ion-button>
        <ion-button fill="clear" color="danger" (click)="deleteItem(i)">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </div>
  <ion-button expand="block" (click)="loadMore()">Ver mais</ion-button>

  <br /><br />

  <div class="scrollable-list">
    <ion-list>
      <ion-item *ngFor="let item of items; let i = index">
        <ion-label>
          <h2>{{ i + 1 }}. {{ item.name }} - {{ item.weight }}</h2>
        </ion-label>
        <ion-button fill="clear" color="primary" (click)="editItem(i)">
          <ion-icon slot="icon-only" name="create-outline"></ion-icon>
        </ion-button>
        <ion-button fill="clear" color="danger" (click)="deleteItem(i)">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </div>
  <ion-button expand="block" (click)="loadMore()">Ver mais</ion-button>
</ion-content>

